<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Status</title>
    <style>
        body {
            font-family: 'Courier New', monospace;
            color: #33cc33; /* Classic terminal green color */
            background-color: #000; /* Black background */
        }
        pre {
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO {{ ansible_fqdn }} AT {{ ansible_default_ipv4['address'] }}</h1>
    <pre>
    
			       .,,uod8B8bou,,.
		      ..,uod8BBBBBBBBBBBBBBBBRPFT?l!i:.
		 ,=m8BBBBBBBBBBBBBBBRPFT?!||||||||||||||
		 !...:!TVBBBRPFT||||||||||!!^^""'   ||||
		 !.......:!?|||||!!^^""'            ||||
		 !.........||||                     ||||
		 !.........||||  ##                 ||||
		 !.........||||                     ||||
		 !.........||||                     ||||
		 !.........||||                     ||||
		 !.........||||                     ||||
		 `.........||||                    ,||||
		  .;.......||||               _.-!!|||||
	   .,uodWBBBBb.....||||       _.-!!|||||||||!:'
	!YBBBBBBBBBBBBBBb..!|||:..-!!|||||||!iof68BBBBBb....
	!..YBBBBBBBBBBBBBBb!!||||||||!iof68BBBBBBRPFT?!::   `.
	!....YBBBBBBBBBBBBBBbaaitf68BBBBBBRPFT?!:::::::::     `.
	!......YBBBBBBBBBBBBBBBBBBBRPFT?!::::::;:!^"`;:::       `.
	!........YBBBBBBBBBBRPFT?!::::::::::^''...::::::;         iBBbo.
	`..........YBRPFT?!::::::::::::::::::::::::;iof68bo.      WBBBBbo.
	  `..........:::::::::::::::::::::::;iof688888888888b.     `YBBBP^'
	    `........::::::::::::::::;iof688888888888888888888b.     `
	      `......:::::::::;iof688888888888888888888888888888b.
		`....:::;iof688888888888888888888888888888888899fT!
		  `..::!8888888888888888888888888888888899fT|!^"'
		    `' !!988888888888888888888888899fT|!^"'
			`!!8888888888888888899fT|!^"'
			  `!988888888899fT|!^"'
			    `!9899fT|!^"'
			      `!^"'
 

	Uptime: {{ ansible_uptime_seconds // 60 }} minutes
	CPU: {{ ansible_processor_cores }} cores ({{ ansible_processor_nproc }} logical processors) 
	Memory: {{ ansible_memfree_mb }}mb free ({{ ansible_memtotal_mb }}mb total) 
	Distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}
	Kernel: {{ ansible_kernel }}
    </pre>
</body>
</html>
