{% raw %}
route:
  group_by: ['alertname']
  repeat_interval: 1h
  receiver: 'slack'

receivers:
  - name: 'slack'
    slack_configs:
      - send_resolved: true
        api_url: "<yourslackwebhookuri>"
        channel: '#alerts'
        username: 'Alertmanager'
        icon_emoji: ':alert:'
{% endraw %}
